#secondary-picture {
    height: 172px;
    width: 306px;
}

#secondary-picture-container {
    height: 100px;
    width: 330px;
}

#accommodation-details-row {
    margin-top: 20px;
}

.footer-container {
    color: #aaaccc;
    max-height: 75%;
    height: 350px;
    background-color: #212529;
}

#car-rentals-container {
    height: 600px;
}

#textarea-leave-question {
    width: 75%;
    height: 150px;
    margin: auto;
}

.leave-question-header {
    color: black;
    margin-bottom: 20px;
}

.stats-header {
    margin-top: 20px;
}

#stats-container {
    height: auto;
    margin: 0 auto;
}

#stats-second-container {
    width: 1200px;
}

#booked-accommodation-title {
    width: 50%;
}

#booked-accommodation-dates-container {
    float: left;
    width: 30%;
    display: flex;
}

.calendar-icon-container {
    width: 40px;
}

.column-div-container {
    display: block;
}

.car-booking-dates-container {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}

.child-seats {
    margin-bottom: 15px;
}

.car-calendar-icon-container {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.questions-error {
    margin-top: 50px;
}

#questions-error-container {
    height: 500px;
}

.green-text {
    color: green;
}

.booking-dates-aligned {
    text-align: left;
}

#people-container {
    height: 600px;
}

#people-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#people-filter {
    width: 200px;
    margin: auto;
}

#add-review-container {
    height: 600px;
}

.black-colored {
    color: black;
}

.small-font {
    font-size: 15px !important;
}

.recommendation-receiver {
    margin-left: 10px;
}

#recommendation-input {
    margin-bottom: 10px;
}

.save-card-details-container {
    display: flex;
    justify-content: center;
}

.validation-negative {
    color: red;
    text-align: left;
    margin-bottom: 20px;
}

.no-people-container {
    margin: 80px auto auto;
}