.login-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 1300px;
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#login-buttons-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#last-name-form {
    margin-left: 5px;
}

#first-name-form {
    margin-right: 5px;
}

.scrollbar {
    width: 100%;
    height: 100%;
}

#community-container {
    background-color: white;
}

#profile-container {
    justify-content: center;
}

#profile-inner-container {
    height: auto;
    margin: 0 auto;
}

#profile-second-inner {
    width: 1200px;
}

#profile-color {
    background-color: lightblue;
}

#profile-name-header {
    color: black;
    margin-bottom: 20px;
}

#search-bar-box {
    width: 100px;
}

.reschedule-icons-container{
    display: flex;
    text-align: center;
    width: 100%;
}

.reschedule-header {
    margin-bottom: 70px;
    margin-top: 20px;
}

.reschedule-container {
    display: flex;
    margin-left: 70px;
}

.reschedule-empty {
    margin-top: 30px;
}

.reschedule-buttons {
    width: 650px;
    margin-left: 50px;
}

.reschedule-img {
    width: 470px;
    height: 350px;
    border-radius: 10px;
}

.reschedule-inner-buttons {
    margin-top: 20px;
}

.reschedule-dates {
    margin-left: 200px;
    text-align: left;
}

.orange {
    color: orange
}

.new-dates {
    margin-left: 350px;
    text-align: left;
}

.reschedule-fee {
    text-decoration: line-through;
}

.reschedule-error {
    color: red;
    margin-top: 70px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 7px;
}

#testimonials-clean-container {
    margin-bottom: -250px;
}

#testimonials-header {
    margin-bottom: 20px;
}

.reviews-details-container {
    text-align: left;
}

#facilities-container {
    margin-top: 5px;
}

#card-info {
    font-size: 15px !important;
}

#comment-text {
    margin-left: 15px;
    margin-top: 8px;
}

#comment-container {
    display: flex;
}